<ion-view hide-nav-bar="true">
  <ion-content class="splash  padding">
  <!--  <img src="/img/skyline.jpg"  alt="Emanuel academy logo"/>
  !-->
  <div class="branding">
    <h2>Event calendar app</h2>
    <p>
    <h4> The event calendar app can be used to show the list
      of events details about each of them </h4>
       The app can be customised  for different calendar events
       type.like the weekly event
     with the title, time and author for each event

    </p>
  </div>
  </ion-content>
</ion-view>
